In [4]:
import pandas as pd

weather = pd.read_csv("local_weather.csv", index_col="DATE")
weather.head()

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [7]:
weather.apply(pd.isnull).sum()/weather.shape[0] *100

STATION     0.000000
NAME        0.000000
ACMH       65.336022
ACSH       65.336022
AWND       52.245092
DAPR       99.952548
FMTM       87.009906
FRGT       99.988137
MDPR       99.952548
PGTM       49.510647
PRCP        1.666766
SNOW       32.498962
SNWD       31.763450
TAVG       87.917433
TMAX        0.053384
TMIN        0.059315
TSUN       93.172786
WDF1       65.336022
WDF2       52.239160
WDF5       52.755205
WDFG       74.690077
WSF1       65.336022
WSF2       52.233229
WSF5       52.755205
WSFG       74.690077
WT01       77.993950
WT02       98.024794
WT03       99.294146
WT04       99.976274
WT05       99.833917
WT07       99.988137
WT08       81.036835
WT09       99.988137
WT16       88.403820
WT18       99.982205
dtype: float64

In [8]:
core_weather = weather[["PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"]

In [9]:
core_weather.apply(pd.isnull).sum() / core_weather.shape[0] *100

precip         1.666766
snow          32.498962
snow_depth    31.763450
temp_max       0.053384
temp_min       0.059315
dtype: float64

In [11]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1960-01-01     0.0   0.0         0.0      49.0      30.0
1960-01-02     0.0   0.0         0.0      49.0      29.0
1960-01-03     0.0   0.0         0.0      54.0      35.0
1960-01-04     0.0   0.0         0.0      54.0      36.0
1960-01-05     0.0   0.0         0.0      55.0      33.0
...            ...   ...         ...       ...       ...
2022-01-24     0.0   NaN         NaN      60.0      39.0
2022-01-25     0.0   NaN         NaN      57.0      43.0
2022-01-26     0.0   NaN         NaN      57.0      41.0
2022-01-27     0.0   NaN         NaN      67.0      39.0
2022-01-28     0.0   NaN         NaN      64.0      39.0

[16859 rows x 5 columns]

In [13]:
core_weather['snow'].value_counts()

0.0    11379
1.0        1
Name: snow, dtype: int64

In [15]:
del core_weather['snow']